<%- include('../partials/header.ejs')%>
    <title>Email change</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <%- include('../partials/header-end.ejs')%>
        <div class="content">
            <form action='/users/change-email' method='POST'>
                <table>
                    <tr>
                        <td><label for="email">New Email Address</label></td>
                        <td><input type="email" id="email" name="email" class="fixed-width" required></td>
                    </tr>
                    <tr>
                        <td><label for="password">Current Password</label></td>
                        <td><input type="password" id="password" name="password" class="fixed-width" minlength="8"
                                maxlength="64" required></td>
                    </tr>

                    <tr>
                        <td colspan="2" class="align-right"><button>Submit changes</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <%- include('../partials/footer.ejs')%>