<footer class="custom-bg container-fluid fixed-bottom">
  <nav class="d-flex justify-content-between mx-3 my-1">
    <small>Copyright &copy; InTheLoop</small>
    <ul class="list-inline" id="ftr-options">
      <li class="list-inline-item me-4"><a href="/">About us</a></li>
      <li class="list-inline-item me-4"><a href="/">Contact</a></li>
      <li class="list-inline-item me-4"><a href="/">Terms & Conditions</a></li>
    </ul>
    <ul class="list-inline" id="social-icons">
      <li class="list-inline-item me-4"><a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
      </li>
      <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
    </ul>
  </nav>
  </div>
</footer>
</body>

</html>