<%- include('./partials/header.ejs')%>
    <title>About Us</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('./partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <section class="about-us-section py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <h2 class="text-center mb-4">About Us</h2>
                            <p class="text-center mb-5">Welcome to <strong>InTheLoop</strong>, a community-driven
                                platform designed to help you discover local events and activities based on your
                                geolocation. Our mission is to empower people to make the most of their free time by
                                giving them easy access to a wide range of fun and interesting things to do in their
                                area.</p>
                            <p class="text-center mb-5">We believe that spontaneity is the key to a fulfilling life.
                                Whether you're looking for a last-minute date night idea, a new hobby to try out, or
                                just something to do on a lazy Sunday afternoon, <strong>InTheLoop</strong> has got
                                you covered. Our app makes it easy to find events and activities that are happening
                                right now, so you can make the most of every moment.</p>
                            <p class="text-center mb-5">At <strong>InTheLoop</strong>, we're passionate about
                                creating a vibrant and connected community of people who love to explore and try new
                                things. That's why we've designed our platform to be user-friendly and intuitive, so
                                that anyone can use it to find the perfect activity for their mood and interests.</p>
                            <p class="text-center mb-5">So why not join our community today and start exploring all the
                                amazing events and activities that your area has to offer? Whether you're a longtime
                                resident or just visiting for the weekend, <strong>InTheLoop</strong> is the perfect
                                tool to help you get out there and start living life to the fullest.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include('./partials/footer.ejs')%>