<%- include('./partials/header.ejs')%>

<body>
    <h3>Welcome, user</h3>
    <h3>Here are the events you've bookmarked: </h3>
    <ul id="bookmarks">
        <li>Bookmark item</li>
    </ul>
</body>
<%- include('./partials/footer.ejs')%>