<%- include('./partials/header.ejs')%>

    <body>
        <div class="container d-flex justify-content-center align-items-center">
            <h3>Welcome, user</h3>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
            <h3>Here are the events you've bookmarked: </h3>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
            <ul id="bookmarks">
                <li>Bookmark item</li>
            </ul>
        </div>
    </body>
    <%- include('./partials/footer.ejs')%>