<%- include('./partials/header.ejs')%>

<body>
    <h2 id="loc_header">Location: <!--API call goes here for city --></h2>
    <h3 id="interest_header">You are interested in: </h3>
    <h3 id="result_header">Here are some things to do in <!--Location-->:</h3>
    <ul id="activityList">
        <li>Null</li>



    </ul>
</body>

<%- include('./partials/footer.ejs')%>