<%- include('./partials/header.ejs')%>
<body>
    <p>Email: </p><a href="/users/change-email">Change Email</a>
    <p>Password: </p><a href="/users/change-password">Change Email</a>
</body>
<%- include('./partials/footer.ejs')%>