<%- include('./partials/header.ejs')%>
<body>
    <p>Email: </p><a href="/user/change-email">Change Email</a>
    <p>Password: </p><a href="/user/change-email">Change Email</a>
</body>
<%- include('./partials/footer.ejs')%>