<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>Home</title>
</head>
<h1>InTheLoop</h1>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/bookmarks">View Saved</a>
    <a class="active" href="/settings">Settings</a> <!-- We can add more pages here -->
    <a href="/">Placeholder2</a>
    <a href="/login">Login</a>
</div>
<body>

</body>
</html>