<%- include('./partials/header.ejs')%>
    <title>Settings</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <%- include('./partials/header-end.ejs')%>
        <div class="content">
            <p>Email: </p><a href="/users/change-email">Change Email</a>
            <p>Password: </p><a href="/users/change-password">Change Password</a>
        </div>
        <%- include('./partials/footer.ejs')%>