<%- include('./partials/header.ejs')%>
    <title>Terms and Conditions</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('./partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <div class="container mt-3 mb-5 pb-5">
                <h1>Terms and Conditions</h1>
                <p>Welcome to our website! By using this website, you agree to comply with and be bound by the following
                    terms and conditions of use, which together with our privacy policy govern our group's relationship
                    with you in relation to this website. If you disagree with any part of these terms and conditions,
                    please do not use our website.</p>

                <h3>1. General Information</h3>
                <p>The content of the pages of this website is for your general information and use only. It is subject
                    to change without notice.</p>

                <h3>2. Warranty and Guarantee</h3>
                <p>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
                    performance, completeness, or suitability of the information and materials found or offered on this
                    website for any particular purpose. You acknowledge that such information and materials may contain
                    inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the
                    fullest extent permitted by law.</p>

                <h3>3. User Responsibility</h3>
                <p>Your use of any information or materials on this website is entirely at your own risk, for which we
                    shall not be liable. It shall be your own responsibility to ensure that any products, services or
                    information available through this website meet your specific requirements.</p>

                <h3>4. Ownership and Reproduction</h3>
                <p>This website contains material which is owned by or licensed to us. This material includes, but is
                    not limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited other
                    than in accordance with the copyright notice, which forms part of these terms and conditions.</p>

                <h3>5. Trademarks</h3>
                <p>All trademarks reproduced in this website, which are not the property of, or licensed to the
                    operator, are acknowledged on the website.</p>

                <h3>6. Unauthorized Use</h3>
                <p>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.
                </p>

                <h3>7. Linked Websites</h3>
                <p>From time to time, this website may also include links to other websites. These links are provided
                    for your convenience to provide further information. They do not signify that we endorse the
                    website(s). We have no responsibility for the content of the linked website(s).</p>

                <h3>8. Governing Law</h3>
                <p>Your use of this website and any dispute arising out of such use of the website is subject to the
                    laws of [insert your jurisdiction].</p>

                <h3>9. Changes to Terms and Conditions</h3>
                <p>We reserve the right to update or modify these terms and conditions at any time without prior notice.
                    Your use of the website following any such changes constitutes your agreement to follow and be bound
                    by the terms and conditions as changed. Therefore, we encourage you to review these terms and
                    conditions whenever you use this website.</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs')%>