body {
    background-color: #4a66fc !important;
}

a {
    color: #fff !important;
    text-decoration: none;
}

.custom-bg {
    background-color: #282828;
}

#nav-line {
    color: #fff;
}

small {
    color: #fff;
}

#ftr-options {
    position: relative;
    left: -1.5rem;
}