<%- include('../partials/header.ejs')%>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <div class="container d-flex justify-content-center align-items-center my-4">
                <h1>Login</h1>
            </div>
            <div class="container justify-content-center align-items-center" id="login-form-container">
                <div class="row">
                    <form action="/users/login" method="POST">
                        <div class="form-group row ms-5 ps-5">
                            <label for="username" class="col-sm-2 col-form-label">Username (Email): </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group row ms-5 mt-4 ps-5">
                            <label for="password" class="col-sm-2 col-form-label">Password: </label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group row ms-5 mt-4 ps-5">
                            <div class="col-sm-6 offset-sm-2 d-flex">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                        <div class="row ms-5 mt-4 ps-5">
                            <a href="/users/req-pass-change">Forgot password?</a>
                        </div>
                        <div class="row ms-5 mt-2 ps-5">
                            <a href="new">Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
            <%- include('../partials/footer.ejs')%>