<%- include('../partials/header.ejs')%>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div class="content">
            <div class="container d-flex justify-content-center align-items-center my-4">
                <h1>Login</h1>
            </div>
            <div class="container justify-content-center align-items-center" id="login-form-container">
                <div class="row">
                    <form action="/users/login" method="POST">
                        <div class="form-group row ms-5 ps-5">
                            <label for="username" class="col-sm-2 col-form-label">Username (Email): </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group row ms-5 mt-4 ps-5">
                            <label for="password" class="col-sm-2 col-form-label">Password: </label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group row ms-5 mt-4 ps-5">
                            <div class="col-sm-6 offset-sm-2 d-flex">
                                <button type="submit" class="btn btn-primary">Log in</button>
                                <div id="g_id_onload"
                                    data-client_id="120559287708-d1rtk2bctan1t7jfke03sb8f52ei3u5f.apps.googleusercontent.com"
                                    data-context="use" data-ux_mode="redirect" data-login_uri="/users/login"
                                    data-callback="localhost:8080" data-auto_prompt="false">
                                </div>
                                <!--data-callback(localhost:8080) + data-long_uri(/users/login) = localhost:8080/users/login-->
                                <!--needs to be the home page and login should work instead of saying wrong username-->

                                <div class="g_id_signin ms-5" data-type="standard" data-shape="rectangular"
                                    data-theme="filled_blue" data-text="continue_with" data-size="large"
                                    data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                        <div class="row ms-5 mt-4 ps-5">
                            <a href="/users/req-pass-change">Forgot password?</a>
                        </div>
                        <div class="row ms-5 mt-2 ps-5">
                            <a href="new">Sign up</a>
                        </div>
                    </form>





                </div>
            </div>
            <%- include('../partials/footer.ejs')%>