<%- include('../partials/header.ejs')%>
    <title>Messages</title>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">

        </div>
        <%- include('../partials/footer.ejs')%>