<%- include('../partials/header.ejs')%>
<!-- page dedicated to non-essential notifications -->
    <div class = "content">
        <h3><%= title %></h3> 
        <p><%= msg %></p>
    </div>
<%- include('../partials/footer.ejs') %>