<%- include('../partials/header.ejs')%>
    <title>Password reset</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <%- include('../partials/header-end.ejs')%>
        <div id="preloader"></div>
        <div class="content">
            <!-- This page is to reset password as a guest. -->
            <form action='/users/reset-password' method='POST'>
                <table>
                    <tr>
                        <td><label for="userEmail">Email</label></td>
                        <td><input type="text" id="userEmail" name="userEmail" class="fixed-width" value="<%= email %>">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">New Password</label></td>
                        <td><input type="text" id="password" name="password" class="fixed-width" min="8" required></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-right"><button>Send Reset Link</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <%- include('../partials/footer.ejs')%>